<div fxLayout="column" fxFlex >

  <md-toolbar color="primary">
    <!--<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>-->
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Whereuat?</span>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>
    <div *ngIf="user">
      <img *ngIf="user.picture" src="{{user.picture}}" style="height:2em;width:2em;border-radius:50%;vertical-align:middle">
      <span>Hi, {{user.name | titlecase}}</span>
    </div>
    <button md-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</button>
    <button md-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav #sidenav mode="over" class="app-sidenav">

      <md-toolbar>
        <md-toolbar-row>
          <span><md-icon>account_circle</md-icon>Scott Kraemer</span>
        </md-toolbar-row>

      </md-toolbar>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <md-card>
        <router-outlet></router-outlet>
      </md-card>
      
    </div>

  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

</div>